AEP_GW_Flow
[{"id":"14c0b206.8ac01e","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"f6bd991f.b252c8","type":"function","name":"Get nodes v0.0.1","func":"msg.payload = JSON.parse(msg.payload);\ncontext.global.nodeList = [];\n\nfor (var key in msg.payload.result) {\n    var loraNode = msg.payload.result[key];\n    var endNode = {payload: null};\n    endNode.payload = loraNode.devEui;\n    node.send(endNode);\n    context.global.nodeList.push(loraNode.devEui);\n}\ncontext.global.nodeListCount = context.global.nodeList.length;\ncontext.global.nodeListResetCounter = context.global.nodeList.length;","outputs":1,"noerr":0,"x":700,"y":116,"z":"c7f1aba5.781168","wires":[["5b51aed9.9ee42"]]},{"id":"5b51aed9.9ee42","type":"debug","name":"","active":true,"console":"false","complete":"false","x":895,"y":116,"z":"c7f1aba5.781168","wires":[]},{"id":"d002a502.6d0238","type":"lora out","name":"","eui":"","payload":"","ack":false,"port":"","x":500,"y":218,"z":"c7f1aba5.781168","wires":[]},{"id":"f26a7ef.552988","type":"function","name":"Test Ascole reset","func":"var devEUI = msg.payload.replace(/-/g, ':');\nvar resetMsg = new Buffer('04000105','hex');\nmsg = {payload: resetMsg, eui:devEUI, ack: true, port: 13};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":328,"z":"c7f1aba5.781168","wires":[["4879bbae.4eab74","d002a502.6d0238"]]},{"id":"63accb5.7b2cf34","type":"inject","name":"devEUI","topic":"","payload":"0e-7e-34-64-33-30-67-44","payloadType":"string","repeat":"","crontab":"","once":false,"x":115,"y":328,"z":"c7f1aba5.781168","wires":[["f26a7ef.552988"]]},{"id":"4879bbae.4eab74","type":"debug","name":"","active":true,"console":"false","complete":"true","x":505,"y":328,"z":"c7f1aba5.781168","wires":[]},{"id":"39b6a3a4.44e62c","type":"inject","name":"11.05 pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"05 11 * * *","once":false,"x":119.99999237060547,"y":219.9999942779541,"z":"c7f1aba5.781168","wires":[["baa005ce.9acfe8"]]},{"id":"8f729fd.43e626","type":"debug","name":"","active":true,"console":"false","complete":"true","x":497.00006103515625,"y":174.99998474121094,"z":"c7f1aba5.781168","wires":[]},{"id":"baa005ce.9acfe8","type":"function","name":"Reset Ascole v0.0.3","func":"var batchSize = 20;\n\nif (typeof context.global.nodeListResetCounter === 'undefined'){ return; }  // list hasn't been created so exit\n\nif (context.global.nodeListResetCounter > 0){                               // work to do\n    \n    var startIdx = 0;\n    var endIdx = 0;\n        \n    if(context.global.nodeListResetCounter === context.global.nodeListCount){ // First time we run\n        startIdx = 0;\n        endIdx = batchSize;\n        if ( endIdx > context.global.nodeListCount){    // calculate correct end index if less sensors \n            endIdx = context.global.nodeListCount;\n        }\n    } else {\n        startIdx = context.global.nodeListResetCounter;\n        endIdx = context.global.nodeListResetCounter + batchSize;\n        if(Math.sign(endIdx) === -1){   // calculate correct end index when less than batchSize to process\n            endIdx = context.global.nodeListCount - context.global.nodeListResetCounter;\n        }\n    }\n    \n    for (var nodeIdx = startIdx; nodeIdx <= (endIdx - 1); nodeIdx++) {\n        var devEUI = context.global.nodeList[nodeIdx].replace(/-/g, ':');\n        var resetMsg = new Buffer('04000105','hex');\n        msg = {payload: resetMsg, eui:devEUI, ack: true, port: 13};\n        node.send(msg);\n    }\n    \n    if(endIdx === context.global.nodeListCount){\n        context.global.nodeListResetCounter = 0;        // Reset counter used as flag \n    } else {\n        context.global.nodeListResetCounter = endIdx;   // Set start index for next run\n    }\n}\n\n\n//debug('nodeListResetCounter ' +context.global.nodeListResetCounter+' type:'+typeof context.global.nodeListResetCounter);\nfunction debug(dmsg){\n    msg.payload = \"debug: \" + dmsg;\n    node.send(msg);\n}","outputs":1,"noerr":0,"x":305,"y":220,"z":"c7f1aba5.781168","wires":[["8f729fd.43e626","d002a502.6d0238"]]},{"id":"92966919.f0d1d8","type":"inject","name":"11pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 11 * * *","once":false,"x":110,"y":116,"z":"c7f1aba5.781168","wires":[["245d8a0f.f52536"]]},{"id":"245d8a0f.f52536","type":"function","name":"Test DOMonth","func":"if(new Date().getDate() === 15){\n    msg.payload = new Date().getDate()\n    return msg;\n}","outputs":1,"noerr":0,"x":281.00347900390625,"y":115.99305725097656,"z":"c7f1aba5.781168","wires":[["224236e5.9aa9ca"]]},{"id":"224236e5.9aa9ca","type":"http request","name":"/api/stats/loraNodes","method":"GET","ret":"txt","url":"http://127.0.0.1/api/stats/loraNodes","x":487,"y":116,"z":"c7f1aba5.781168","wires":[["f6bd991f.b252c8"]]},{"id":"96aba541.7d69f8","type":"comment","name":"Create node list once a month","info":"","x":157,"y":70,"z":"c7f1aba5.781168","wires":[]},{"id":"4228fad7.1fe604","type":"comment","name":"Daily check for reset","info":"","x":126,"y":175,"z":"c7f1aba5.781168","wires":[]},{"id":"2aa1b4f6.58d74c","type":"comment","name":"For testing","info":"","x":105,"y":283,"z":"c7f1aba5.781168","wires":[]},{"id":"113bc6cf.707879","type":"mqtt in","name":"lora/+/down","topic":"lora/+/down","broker":"14c0b206.8ac01e","x":122.00003051757812,"y":397.00000762939453,"z":"c7f1aba5.781168","wires":[["ca37790.4497288"]]},{"id":"ca37790.4497288","type":"debug","name":"/down","active":true,"console":"false","complete":"payload","x":275.0000305175781,"y":397.00000762939453,"z":"c7f1aba5.781168","wires":[]},{"id":"7ce5fb0a.046bb4","type":"mqtt in","name":"lora/+/packet_sent","topic":"lora/+/packet_sent","broker":"14c0b206.8ac01e","x":105,"y":452.00000762939453,"z":"c7f1aba5.781168","wires":[["3077ae86.ead612"]]},{"id":"3077ae86.ead612","type":"debug","name":"/packet_Sent","active":true,"console":"false","complete":"payload","x":294.0000915527344,"y":452.00000762939453,"z":"c7f1aba5.781168","wires":[]},{"id":"b667e91.9f25e18","type":"debug","name":"/Queue_full","active":true,"console":"false","complete":"payload","x":292.09423828125,"y":506,"z":"c7f1aba5.781168","wires":[]},{"id":"a644505c.6d48a","type":"mqtt in","name":"lora/+/queue_full","topic":"lora/+/packet_sent","broker":"14c0b206.8ac01e","x":103.09414672851562,"y":506,"z":"c7f1aba5.781168","wires":[["b667e91.9f25e18"]]}]
